<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile# zotero: http://www.zotero.org/namespaces/export#" lang="en">
    <head>
        <meta charset="utf-8">

        <title><%= @item[:title] %></title>

        <!-- metadata -->

        <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

        <meta property="og:site_name" content="denisdefreyne.com">

        <meta property="og:url" content="https://denisdefreyne.com<%= @item_rep.path %>">

        <meta property="og:title" content="<%= @item[:title] %>">
        <meta property="dc.title" content="<%= @item[:title] %>">

        <meta property="og:type" content="<%= @item.fetch(:type, 'website') %>">

        <% if @item.fetch(:type, 'website') == 'profile' %>
            <meta property="profile:first_name" content="Denis">
            <meta property="profile:last_name" content="Defreyne">
            <meta property="og:description" content="The personal web site of Denis Defreyne, a software engineer based in Berlin, Germany (pronouns he/him).">
        <% end %>

        <% if @item.identifier.match?('/notes/**/*') %>
            <meta property="og:description" content="A note in Denis’ digital garden.">
        <% end %>

        <!-- style -->

        <% stylesheet = @item[:layout] == 'cv' ? 'cv' : @item.identifier.match?('/fiction/*') ? 'fiction' : '2021q1' %>
        <link rel="stylesheet" href="<%= @items["/assets/style/#{stylesheet}.*"].path %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- fonts -->

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap" rel="stylesheet">

        <!-- google analytics -->

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15639968-2']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
    </head>
    <%= yield %>
</html>
