<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile# zotero: http://www.zotero.org/namespaces/export#" lang="en">
    <head>
        <meta charset="utf-8">

        <title><%= @item[:title] %></title>

        <!-- metadata -->

        <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

        <%= meta_robots %>

        <meta property="og:site_name" content="denisdefreyne.com">

        <meta property="og:url" content="https://denisdefreyne.com<%= @item_rep.path %>">

        <meta property="og:title" content="<%= @item[:title] %>">
        <meta property="dc.title" content="<%= @item[:title] %>">

        <meta property="og:type" content="<%= @item.fetch(:type, 'website') %>">

        <% if @item.fetch(:type, 'website') == 'profile' %>
            <meta property="profile:first_name" content="Denis">
            <meta property="profile:last_name" content="Defreyne">
            <meta property="og:description" content="The personal web site of Denis Defreyne, a software engineer based in Berlin, Germany (pronouns he/him).">
        <% end %>

        <% if @item.identifier.match?('/notes/**/*') %>
            <meta property="og:description" content="A note in Denis’ digital garden.">
        <% end %>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

        <% unless @item[:layout] == 'cv' %>
            <link rel="stylesheet" href="<%= @items["/assets/style/reset.*"].path %>">
            <link rel="stylesheet" href="<%= @items["/assets/fonts/main.*"].path %>">
        <% end %>
        <%
            stylesheet =
                if @item[:layout] == 'cv'
                    'cv'
                elsif @item.identifier.match?('/fiction/*')
                    'fiction'
                elsif @item.identifier.match?('/articles/*')
                    'article'
                elsif @item.identifier.match?('/notes.*')
                    'note'
                elsif @item.identifier.match?('/notes/**')
                    'note'
                else
                    '2021q1'
                end
        %>
        <link rel="stylesheet" href="<%= @items["/assets/style/#{stylesheet}.*"].path %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="alternate" type="application/atom+xml" href="<%= @items["/feed.*"].path %>" title="Atom feed for denisdefreyne.com articles" >

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15639968-2']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
    </head>

    <%= yield %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</html>
