<% render '/_wrapper.*' do %>
  <div class="cols horizontal-scroll">
    <div class="meta sans-serif font-xs uppercase letter-spacing-1 lh-md">
      <%= link_to '← back to articles', @items['/articles.*'] %>
    </div>

    <div class="sans-serif font-xs uppercase letter-spacing-1 lh-md pt-5 text-muted">
      <div>Published <%= fmt_date Date.parse(@item[:published_on]) %><% if @item[:revised_on] %> • Revised <%= fmt_date Date.parse(@item[:revised_on]) %><% end %></div>
    </div>

    <h1><%= @item[:title] %></h1>

    <%= yield %>
  </div>

  <script src="/assets/scripts/behavior.js"></script>
  <script src="/assets/scripts/smoothscroll.min.js"></script>
<% end %>
