<% render '/_wrapper.*' do %>
  <div class="cols horizontal-scroll">
    <div class="meta">
      <%= link_to '← back to articles', @items['/articles.*'] %>
    </div>

    <h1 class="pt-4"><%= @item[:title] %></h1>

    <div class="sans-serif font-xs uppercase letter-spacing-1 lh-md pt-2 pb-3">
      <div class="pos-relative bottom-2">Published <%= fmt_date Date.parse(@item[:published_on]) %><% if @item[:revised_on] %> • Revised <%= fmt_date Date.parse(@item[:revised_on]) %><% end %></div>
    </div>

    <%= yield %>
  </div>

  <script src="/assets/scripts/behavior.js"></script>
  <script src="/assets/scripts/smoothscroll.min.js"></script>
<% end %>
