<% render '/_wrapper.*' do %>
  <div class="cols horizontal-scroll">
    <div class="nav sans-serif font-xs uppercase letter-spacing-1 lh-md">
      <%= link_to '← back to articles', @items['/articles.*'] %>
    </div>

    <div class="text-center pt-5 pb-4">
      <div style="background: #fff">
        <h1><%= @item[:title] %></h1>

        <div class="meta sans-serif font-xs uppercase letter-spacing-1 lh-md text-muted pt-2">
          <div><span class="no-break"><%= fmt_date Date.parse(@item[:published_on]) %></span><% if @item[:revised_on] %> <span class="no-break">(revised <%= fmt_date Date.parse(@item[:revised_on]) %>)</span><% end %><span class="px-1"> • </span><span class="no-break">Estimated reading time: <%= ReadingTime.calc(yield, complexity: @item.fetch(:reading_time_complexity, 0)) %>min</span></div>
        </div>
      </div>
    </div>

    <%= yield %>
  </div>

  <script src="/assets/scripts/behavior.js"></script>
  <script src="/assets/scripts/smoothscroll.min.js"></script>
<% end %>
