<% render '/_wrapper.*' do %>
    <body>
        <nav class="nav">
            <ul>
                <li><%= link_to_unless_current 'denisdefreyne.com', @items['/index.*'] %></li>
                <li><%= link_to_unless_current 'software', @items['/software.*'] %></li>
                <li><%= link_to_unless_current 'talks', @items['/talks.*'] %></li>
                <li><%= link_to_unless_current 'notes', @items['/notes.*'] %></li>
                <li><%= link_to_unless_current 'toolbox', @items['/toolbox.*'] %></li>
                <li><%= link_to_unless_current 'cv', @items['/cv.*'] %></li>
            </ul>
        </nav>

        <article class="container primary">
            <%= yield %>
        </article>
    </body>
<% end %>
