<% render '/_wrapper.*' do %>
    <body>
        <div class="above-footer">
            <nav class="nav">
                <ul>
                    <li><%= link_to_unless_current 'denisdefreyne.com', @items['/index.*'] %></li>
                    <li><%= link_to_unless_current 'software', @items['/software.*'] %></li>
                    <li><%= link_to_unless_current 'talks', @items['/talks.*'] %></li>
                    <li><%= link_to_unless_current 'notes', @items['/notes.*'] %></li>
                    <li><%= link_to_unless_current 'cv', @items['/cv.*'] %></li>
                </ul>
            </nav>

            <article class="container primary">
                <%= yield %>
            </article>
        </div>

        <footer class="footer muted">
            <div>&copy; 2007–2021</div>
            <div>made in Berlin</div>
        </footer>
    </body>
<% end %>
